[submodule "cakephp"]
	path = cakephp
	url = git://github.com/cakephp/cakephp.git
[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "libraries/bootstrap"]
	path = libraries/bootstrap
	url = git://github.com/twbs/bootstrap.git
[submodule "libraries/jquery"]
	path = libraries/jquery
	url = git://github.com/jquery/jquery.git
[submodule "app/Vendor/tmhOAuth"]
	path = app/Vendor/tmhOAuth
	url = git://github.com/themattharris/tmhOAuth.git
[submodule "app/Vendor/facebook"]
	path = app/Vendor/facebook
	url = git://github.com/facebook/facebook-php-sdk.git
[submodule "app/Plugin/Mongodb"]
	path = app/Plugin/Mongodb
	url = git://github.com/ukyoda/cakephp-mongodb
